<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bluePrintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <hr>
  <app-game-control
    (eventCreated)="onEventCreated($event)"></app-game-control>
  <hr>
  <div class="row">
    <div class="col-xs-7">
      <app-odd
        *ngFor="let oddEvent of oddEvents"
        [oddEvent]="oddEvent"></app-odd>
    </div>
    <div class="col-xs-7">
      <app-even
        *ngFor="let evenEvent of evenEvents"
        [evenEvent]="evenEvent" ></app-even>
    </div>
  </div>
</div>
